/*CSS tela de cadastro*/
.form {
  	width: 100%;
  	position: relative;
  	border-radius: 40px;
  	background-color: #d9d9d9;
  	height: 931px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 24px;
  	color: rgba(0, 0, 0, 0.5);
  	font-family: Inter;
}
.cadastro {
  	position: absolute;
  	top: 29px;
  	left: 524px;
  	font-size: 64px;
  	font-weight: 800;
  	color: #2f80ed;
}
.form-child {
  	position: absolute;
  	top: 192.5px;
  	left: 668.5px;
  	border-top: 1px solid #2f80ed;
  	box-sizing: border-box;
  	width: 607px;
  	height: 1px;
  	transform:  rotate(89.9deg);
  	transform-origin: 0 0;
}
.input-nome {
  	position: absolute;
  	top: 269px;
  	left: 170px;
  	border-radius: 98px;
  	background-color: rgba(4, 49, 146, 0.4);
  	width: 354px;
  	height: 56px;
  	overflow: hidden;
}
.nome {
  	position: absolute;
  	top: 34px;
  	left: 28px;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	width: 73px;
  	height: 22px;
}
.nome-txt {
  	line-break: anywhere;
  	width: 100%;
}
.form-nome {
  	margin: 0;
}
.input-sobrenome {
  	position: absolute;
  	top: 369px;
  	left: 170px;
  	border-radius: 98px;
  	background-color: rgba(4, 49, 146, 0.4);
  	width: 354px;
  	height: 56px;
  	overflow: hidden;
}
.sobrenome {
  	position: absolute;
  	top: 34px;
  	left: 28px;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	width: 142px;
  	height: 22px;
}
.input-usuario {
  	position: absolute;
  	top: 469px;
  	left: 170px;
  	border-radius: 98px;
  	background-color: rgba(4, 49, 146, 0.4);
  	width: 354px;
  	height: 56px;
  	overflow: hidden;
}
.usurio {
  	position: absolute;
  	top: 34px;
  	left: 23px;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	width: 101px;
  	height: 22px;
}
.input-email {
  	position: absolute;
  	top: 569px;
  	left: 170px;
  	border-radius: 98px;
  	background-color: rgba(4, 49, 146, 0.4);
  	width: 354px;
  	height: 56px;
  	overflow: hidden;
}
.e-mail {
  	position: absolute;
  	top: 34px;
  	left: 23px;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	width: 88px;
  	height: 22px;
}
.input-telefone {
  	position: absolute;
  	top: 669px;
  	left: 170px;
  	border-radius: 98px;
  	background-color: rgba(4, 49, 146, 0.4);
  	width: 354px;
  	height: 56px;
  	overflow: hidden;
}
.telefone {
  	position: absolute;
  	top: 36px;
  	left: 22px;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	width: 111px;
  	height: 22px;
}
.input-senha {
  	position: absolute;
  	top: 269px;
  	left: 816px;
  	border-radius: 98px;
  	background-color: rgba(4, 49, 146, 0.4);
  	width: 354px;
  	height: 56px;
  	overflow: hidden;
}
.input-confirm-senha {
  	position: absolute;
  	top: 369px;
  	left: 815px;
  	border-radius: 98px;
  	background-color: rgba(4, 49, 146, 0.4);
  	width: 354px;
  	height: 56px;
  	overflow: hidden;
}
.confirmar-senha {
  	position: absolute;
  	top: 17px;
  	left: 22px;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	width: 206px;
  	height: 22px;
}
.letra-maiuscula-letra-container {
  	position: absolute;
  	top: 400px;
  	left: 850px;
  	font-size: 25px;
  	font-family: Jomhuria;
  	color: #000;
  	display: flex;
  	align-items: center;
  	width: 300px;
  	height: 150px;
}
.letra-maiuscula-letra-minuscu {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 43px;
}
.letra-maiuscula {
  	margin-bottom: 0px;
}
.checkbox-aceite {
  	position: absolute;
  	top: 674px;
  	left: 846px;
  	width: 293px;
  	height: 23px;
  	font-size: 36px;
  	color: #000;
  	font-family: Jomhuria;
}
.checkbox {
  	position: absolute;
  	top: 6px;
  	left: 0px;
  	background-color: rgba(4, 49, 146, 0.4);
  	width: 14px;
  	height: 14px;
}
.li-e-aceito {
  	position: absolute;
  	top: 0px;
  	left: 32px;
  	display: inline-block;
  	width: 261px;
  	height: 23px;
}
.button {
  	position: absolute;
  	top: 836px;
  	left: 582px;
  	border-radius: 98px;
  	background-color: #091e3a;
  	width: 176px;
  	height: 56px;
  	overflow: hidden;
  	font-size: 45px;
  	color: #fff;
  	font-family: Jomhuria;
}
.cadastrar {
  	position: absolute;
  	top: 10px;
  	left: 33px;
  	display: inline-block;
  	width: 110px;
  	height: 35px;
}
.a-voltar-icon {
  	position: absolute;
  	height: 2.36%;
  	width: 1.87%;
  	top: 4.83%;
  	right: 95.07%;
  	bottom: 92.8%;
  	left: 3.06%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}