/*CSS tela de login*/
.form {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	border-radius: 40px;
  	background-color: #d9d9d9;
  	width: 618px;
  	height: 744px;
  	overflow: hidden;
}
.h2 {
  	position: absolute;
  	top: 29px;
  	left: 220px;
  	font-size: 64px;
  	font-weight: 800;
  	color: #2f80ed;
}
.input-user {
  	position: absolute;
  	top: 236px;
  	left: 132px;
  	border-radius: 98px;
  	background-color: rgba(4, 49, 146, 0.4);
  	width: 354px;
  	height: 56px;
  	overflow: hidden;
  	text-align: center;
  	color: rgba(0, 0, 0, 0.5);
}
.user-icon {
  	position: absolute;
  	top: 15px;
  	left: 20px;
  	width: 25px;
  	height: 25px;
  	object-fit: cover;
}
.usario {
  	position: absolute;
  	top: 25px;
  	left: 52px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 76px;
  	height: 15px;
}
.input-password {
  	position: absolute;
  	top: 344px;
  	left: 132px;
  	border-radius: 98px;
  	background-color: rgba(4, 49, 146, 0.4);
  	width: 354px;
  	height: 56px;
  	overflow: hidden;
  	text-align: center;
  	color: rgba(0, 0, 0, 0.5);
}
.senha {
  	position: absolute;
  	top: 25px;
  	left: 44px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 76px;
  	height: 15px;
}
.lock-icon {
  	position: absolute;
  	top: 15px;
  	left: 19px;
  	width: 25px;
  	height: 25px;
  	object-fit: cover;
}
.button {
  	position: absolute;
  	top: 452px;
  	left: 221px;
  	border-radius: 98px;
  	background-color: #091e3a;
  	width: 176px;
  	height: 56px;
  	overflow: hidden;
  	font-size: 45px;
  	color: #fff;
}
.entrar {
  	position: absolute;
  	top: 10px;
  	left: 24px;
  	display: inline-block;
  	width: 85px;
  	height: 35px;
}
.vector-icon {
  	position: absolute;
  	height: 32.14%;
  	width: 14.77%;
  	top: 33.93%;
  	right: 10.23%;
  	bottom: 33.93%;
  	left: 75%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.link-registrar {
  	position: absolute;
  	top: 697px;
  	left: 461px;
  	width: 119px;
  	height: 22px;
  	font-size: 34px;
}
.a {
  	position: absolute;
  	top: 0px;
  	left: 28px;
  	display: inline-block;
  	width: 91px;
  	height: 22px;
}
.tela-de-login-vector-icon {
  	position: absolute;
  	height: 86.36%;
  	width: 19.33%;
  	top: 13.64%;
  	right: 80.67%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.de-login-a {
  	position: absolute;
  	top: 697px;
  	left: 38px;
  	font-size: 32px;
}
.tela-de-login-child {
  	position: absolute;
  	top: 270px;
  	left: 131px;
  	border-radius: 38px;
  	width: 444px;
  	height: 428px;
  	object-fit: cover;
}